<div class="box-body" style="overflow-y:auto; height:300px">
    <ul class="timeline">
        <li class="time-label">
            <span class="bg-red">Upcoming</span>
        </li>
            <li>
                <i class="fa fa-clock-o bg-blue"></i>
                <div class="timeline-item">
                    <h3 class="timeline-header">Email alerts</h3>
                    <div class="timeline-body">Automated email alerts to employees and leads for missing entries in timesheet.</div>
                </div>
            </li>
        <li class="time-label">
            <span class="bg-red">Oct 2018</span>
        </li>
        <li>
            <i class="fa fa-star bg-blue"></i>
            <div class="timeline-item">
                <span class="time"><i class="fa fa-user-o"></i> Uma Mageswari</span>
                <h3 class="timeline-header">Mobile Number</h3>
                <div class="timeline-body">Mobile number of employees has been updated in employee profile.</div>
            </div>
        </li>
        <li>
            <i class="fa fa-star bg-blue"></i>
            <div class="timeline-item">
                <span class="time"><i class="fa fa-user-o"></i> Suresh Kumar Masetti</span>
                <h3 class="timeline-header">Work and Break time</h3>
                <div class="timeline-body">Attendance report to show Work and Break split-up.</div>
            </div>
        </li>
        <li class="time-label">
            <span class="bg-red">Sep 2018</span>
        </li>
            <li>
                <i class="fa fa-star bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-user-o"></i> Srikesavan Janarthanan</span>
                    <h3 class="timeline-header">Quarterly EL Credit</h3>
                    <div class="timeline-body">EL Credit screen allows HR to credit EL to eligible employees.</div>
                </div>
            </li>
        <li class="time-label">
            <span class="bg-red">Aug 2018</span>
        </li>
            <li>
                <i class="fa fa-star bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-user-o"></i> Suresh Kumar Masetti</span>
                    <h3 class="timeline-header">Email Background Process</h3>
                    <div class="timeline-body">Hangfire implementation to trigger emails in background improving application performance.</div>
                </div>
            </li>
            <li>
                <i class="fa fa-star bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-user-o"></i> Suresh Kumar Masetti</span>
                    <h3 class="timeline-header">Maternity Leave</h3>
                    <div class="timeline-body">Maternity Leave option has been included in the request type.</div>
                </div>
            </li>
        <li class="time-label">
            <span class="bg-red">Jul 2018</span>
        </li>
            <li>
                <i class="fa fa-star bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-user-o"></i> Srikesavan Janarthanan</span>
                    <h3 class="timeline-header">Personal & Official Permissions</h3>
                    <div class="timeline-body">Permission Request Type has been split into Official & Personal permissions.</div>
                </div>
            </li>
            <li>
                <i class="fa fa-star bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-user-o"></i> Babu Rajan</span>
                    <h3 class="timeline-header">OverTime</h3>
                    <div class="timeline-body">OverTime request type has been included to capture OverTime request for BPO employees.</div>
                </div>
            </li>
            <li>
                <i class="fa fa-star bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-user-o"></i> Babu Rajan</span>
                    <h3 class="timeline-header">Access Card Report</h3>
                    <div class="timeline-body">HR & Admin can now retrieve attendance report based on Card.</div>
                </div>
            </li>
    </ul>
</div>